<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wizsmith.technicianapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- Android 12+ -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" android:required="false"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" android:required="false"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" android:required="false"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:label="WizSmith Technician"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.WizSmithTech">
        <activity android:name="com.wizsmith.technicianapp.ui.LockProvisioningActivity" />
        <activity android:name="com.wizsmith.technicianapp.ui.DashboardActivity" />
        <activity android:name="com.wizsmith.technicianapp.ui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
